# STATS401 Project 2

## Data Acquisition
---

### Query the transaction data of CryptoPunk from [Dune Analytics](https://dune.com/browse/queries/authored)

In [10]:
!pip install duneanalytics

Requirement already satisfied: duneanalytics in /Users/brucez/opt/anaconda3/envs/deeplearning/lib/python3.8/site-packages (1.1.0)
Requirement already satisfied: requests>=2.18.4 in /Users/brucez/opt/anaconda3/envs/deeplearning/lib/python3.8/site-packages (from duneanalytics) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/brucez/opt/anaconda3/envs/deeplearning/lib/python3.8/site-packages (from requests>=2.18.4->duneanalytics) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/brucez/opt/anaconda3/envs/deeplearning/lib/python3.8/site-packages (from requests>=2.18.4->duneanalytics) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/brucez/opt/anaconda3/envs/deeplearning/lib/python3.8/site-packages (from requests>=2.18.4->duneanalytics) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/brucez/opt/anaconda3/envs/deeplearning/lib/python3.8/site-packages (from requests>=2.18.4->duneanalytics) (1.26.6)

In [11]:
from duneanalytics import DuneAnalytics
import time
import json
import pandas as pd
import numpy as np

In [12]:
def query_data_from_dune(data_mode):
    """
    Query data from Dune Analytics
    """
    # initialize client
    dune = DuneAnalytics('brucezzzzzzzyf@gmail.com', 'ZHANG0509yf')

    # try to login
    dune.login()

    # fetch token
    dune.fetch_auth_token()

    # set query ids
    if data_mode == 'punkBought':
        query_dict = {'2017': 673785,
                      '2018': 673784,
                      '2019': 673783,
                      '2020': 673781,
                      '2021': 673779,
                      '2022': 673771}
    elif data_mode == 'punkTransfer':
        query_dict = {'2017-2019': 674456,
                      '2020': 674472,
                      '2021': 674496,
                      '2022': 674500}

    # query data
    dune_data = {}
    for year in query_dict:
        query_id = query_dict[year]
        result_id = dune.query_result_id(query_id=query_id)
        dune_data[year] = dune.query_result(result_id)
        time.sleep(5)

    return dune_data


def save_data(dune_dict, file_predix, DUNE_DATA_PATH='./dune_data'):
    """
    Write data to json file
    """
    from datetime import date
    today = str(date.today())
    out_file = '{}/{}_{}.json'.format(DUNE_DATA_PATH, file_predix, today)
    with open(out_file, 'w') as f:
        json.dump(dune_dict, f)
    print('Data saved to {}'.format(out_file))

In [ ]:
dune_bt_dict = query_data_from_dune('punkBought')
save_data(dune_bt_dict, 'dune_bt_dict')

In [ ]:
dune_tf_dict = query_data_from_dune('punkTransfer')
save_data(dune_tf_dict, 'dune_tf_dict')

## Data Cleaning
---

In [14]:
dune_bt_dict = json.load(open('./dune_data/dune_bt_dict_2022-05-06.json'))
dune_tf_dict = json.load(open('./dune_data/dune_tf_dict_2022-05-06.json'))

In [15]:
def index_trader(buyer, seller):
    trader = list(set(list(buyer.unique()) + list(seller.unique())))
    # print('Total {} traders'.format(len(trader)))

    return {trader[i]: i for i in range(len(trader))}

### 1. Transaction Database

- **tx_id**
- date_time
- from: trader_id
- yo: trader_id
- eth_price
- punk_id: punk_id

In [16]:
def create_tx_db(dune_bt_dict, dune_tf_dict):
    temp_idx = 0
    # punkBought data frame
    bt_data = dict()
    for year in dune_bt_dict:
        data_list = dune_bt_dict[year]['data']['get_result_by_result_id']
        bt_data.update({temp_idx+i: data_list[i]['data']
                       for i in range(len(data_list))})
        temp_idx += len(data_list)

    # punkTransfer data frame
    tf_data = dict()
    for year in dune_tf_dict:
        data_list = dune_tf_dict[year]['data']['get_result_by_result_id']
        tf_data.update({temp_idx+i: data_list[i]['data']
                       for i in range(len(data_list))})
        temp_idx += len(data_list)

    # concatenate data frames
    tx_db = pd.concat([pd.DataFrame.from_dict(bt_data, orient='index'),
                       pd.DataFrame.from_dict(tf_data, orient='index')])

    # set date_time
    tx_db['date_time'] = pd.to_datetime(tx_db['_date'] + ' ' + tx_db['_time'])

    # remove txs whose buyer is \x0000000000000000000000000000000000000000
    tx_db = tx_db[tx_db['buyer'] !=
                  '\\x0000000000000000000000000000000000000000']

    # reindex seller and buyer using trader_id
    trader_index_dict = index_trader(tx_db['buyer'], tx_db['seller'])
    tx_db['from'] = tx_db['seller'].apply(lambda x: trader_index_dict[x])
    tx_db['to'] = tx_db['buyer'].apply(lambda x: trader_index_dict[x])

    # sort by date_time
    tx_db.sort_values(by='date_time', inplace=True)

    # index transaction
    tx_db['tx_id'] = range(len(tx_db))
    tx_db = tx_db.loc[:, ['tx_id', 'date_time',
                          'from', 'to', 'eth_price', 'punk_id']]
    tx_db.set_index('tx_id', inplace=True)

    print('Total {} transactions'.format(len(tx_db)))
    print('Total {} unique traders'.format(len(trader_index_dict)))
    print('Total {} unique punk_id'.format(len(tx_db['punk_id'].unique())))

    return tx_db, trader_index_dict


tx_db, trader_index_dict = create_tx_db(dune_bt_dict, dune_tf_dict)
tx_db

Total 40540 transactions
Total 8907 unique traders
Total 9007 unique punk_id

                date_time  from    to  eth_price  punk_id
tx_id
0     2017-06-23 21:06:32  5654  2165       0.01     3134
1     2017-06-23 21:06:45  5654   959       0.04     5719
2     2017-06-23 21:06:53  2165  4438       0.10     5056
3     2017-06-23 22:06:04  5654  6028        NaN     8138
4     2017-06-23 22:06:08  5654   959       0.06     5624
...                   ...   ...   ...        ...      ...
40535 2022-05-05 21:05:57  7805  2161      70.00     3314
40536 2022-05-06 02:05:19  7023  5964        NaN     3904
40537 2022-05-06 03:05:13  3835  6537        NaN     4332
40538 2022-05-06 03:05:17   499  3707        NaN     4516
40539 2022-05-06 03:05:17  3707  8824        NaN     4516

[40540 rows x 5 columns]

### 2. CryptoPunk

- **punk_id**
- img_url
- type (Alien, Ape, Zombie, Female, Male)
- skin_tone
- attr_count
- attributes
- current_owner: trader_id
- avg_price

In [44]:

def create_punk_db(punk_info_csv_list, CSV_PATH='./cp', PUNK_IMG_PATH='./punk_imgs'):
    punk_db = pd.read_csv('{}/{}'.format(CSV_PATH, punk_info_csv_list[0]))
    for i in range(1, len(punk_info_csv_list)):
        punk_df_temp = pd.read_csv(
            '{}/{}'.format(CSV_PATH, punk_info_csv_list[i]))
        punk_db = pd.concat([punk_db, punk_df_temp], axis=0)

    # rename columns
    punk_db.columns = ['punk_id', 'type', 'gender',
                       'skin_tone', 'attr_count', 'attributes']

    # strip type, gender, skin_tone
    punk_db['type'] = punk_db['type'].apply(lambda x: x.strip())
    punk_db['gender'] = punk_db['gender'].apply(lambda x: x.strip())
    punk_db['skin_tone'] = punk_db['skin_tone'].apply(lambda x: x.strip())
    
    # set cryptopunk image dir
    punk_db['img_dir'] = punk_db['punk_id'].apply(
        lambda x: '{}/{}.png'.format(PUNK_IMG_PATH, x))

    # set punk_id as index
    punk_db.set_index('punk_id', inplace=True)

    return punk_db


punk_info_csv_list = ['0-999.csv', '1000-1999.csv', '2000-2999.csv', '3000-3999.csv',
                      '4000-4999.csv', '5000-5999.csv', '6000-6999.csv',
                      '7000-7999.csv', '8000-8999.csv', '9000-9999.csv']

punk_db = create_punk_db(punk_info_csv_list)
punk_db

,type,gender,skin_tone,attr_count,attributes,img_dir
punk_id,,,,,,
0,Human,Female,Medium,3,Green Eye Shadow / Earring / Blonde Bob,./punk_imgs/0.png
1,Human,Male,Dark,2,Smile / Mohawk,./punk_imgs/1.png
2,Human,Female,Light,1,Wild Hair,./punk_imgs/2.png
3,Human,Male,Dark,3,Wild Hair / Nerd Glasses / Pipe,./punk_imgs/3.png
4,Human,Male,Medium,4,Big Shades / Wild Hair / Earring / Goat,./punk_imgs/4.png
...,...,...,...,...,...,...
9995,Human,Female,Albino,2,Purple Eye Shadow / Straight Hair Dark,./punk_imgs/9995.png
9996,Human,Male,Light,4,Cigarette / Earring / Crazy Hair / Smile,./punk_imgs/9996.png
9997,Zombie,Male,,2,Front Beard / Cap Forward,./punk_imgs/9997.png
9998,Human,Female,Medium,3,Wild White Hair / Black Lipstick / Clown Eyes...,./punk_imgs/9998.png
9999,Human,Female,Dark,2,Mohawk / Nerd Glasses,./punk_imgs/9999.png

### 3. Trader

- **trader_id**
- address
- tx_involved_count
- tx_involved: list of tx_id
- frequent_skin_tone
- frequent_gender

In [28]:

def find_most_frequent_skin_tone(tx_involved_list, tx_db):
    skin_tones = list()
    for tx_id in tx_involved_list:
        punk_id = tx_db.loc[tx_id, 'punk_id']
        skin_tones.append(punk_db.loc[punk_id, 'skin_tone'])
    return max(set(skin_tones), key=skin_tones.count)


def find_most_frequent_gender(tx_involved_list, tx_db):
    genders = list()
    for tx_id in tx_involved_list:
        punk_id = tx_db.loc[tx_id, 'punk_id']
        genders.append(punk_db.loc[punk_id, 'gender'])
    return max(set(genders), key=genders.count)


def create_trader_db(tx_db, trader_index_dict):
    trader_db = pd.DataFrame.from_dict(
        trader_index_dict, orient='index', columns=['trader_id'])

    # set address for each trader
    trader_db.reset_index(inplace=True)
    trader_db.rename(columns={'index': 'address'}, inplace=True)

    # set trader_id as index
    trader_db.sort_values(by='trader_id', inplace=True)

    # get the involved tx
    trader_db['tx_involved_count'] = trader_db['trader_id'].apply(
        lambda x: len(tx_db[tx_db['from'] == x]) + len(tx_db[tx_db['to'] == x]))
    trader_db['tx_involved'] = trader_db['trader_id'].apply(lambda x: sorted(list(tx_db[tx_db['from'] == x].index) +
                                                            list(tx_db[tx_db['to'] == x].index)))

    # get the skin tone that each trader most frequently trades with
    trader_db['frequent_skin_tone'] = trader_db['tx_involved'].apply(
        lambda x: find_most_frequent_skin_tone(x, tx_db))

    # get the gender that each trader most frequently trades with
    trader_db['frequent_gender'] = trader_db['tx_involved'].apply(
        lambda x: find_most_frequent_gender(x, tx_db))

    # set trader_id as index
    trader_db.set_index('trader_id', inplace=True)

    return trader_db


trader_db = create_trader_db(tx_db, trader_index_dict)
trader_db

,address,tx_involved_count,tx_involved,frequent_skin_tone,frequent_gender
trader_id,,,,,
0,\xf8be957f65e67fb0342992a51c30290d5758f880,2,"[34199, 36105]",Medium,Male
1,\x992529ceeac50fd23f368d2372309d496f342889,3,"[27727, 28011, 28048]",Medium,Female
2,\x6b9b69d19f496c831c60c97b5972e76991b457fe,4,"[20038, 20079, 22286, 22287]",Dark,Male
3,\x9725fdcf99a66b9fecbad232b4eb5b2243bc7fe2,5,"[27572, 28036, 28234, 28533, 29041]",Light,Male
4,\xf5bb69f6d7c97b37370927c824f115d6f1c6bb7d,2,"[32618, 35171]",Dark,Male
...,...,...,...,...,...
8902,\x34978faf3a9f469da7248d1365ddf69ac099588c,14,"[34736, 36371, 36685, 37640, 37739, 37766, 377...",Dark,Male
8903,\x5b93ff82faaf241c15997ea3975419dddd8362c5,2,"[6235, 38376]",Dark,Male
8904,\x6a0ed38200992e2f456c3e9cdf47d4f020ea938b,2,"[13541, 14372]",Albino,Male
8905,\xf721370944d3321d0d3a949ef2d8446e64c352d7,1,[15118],Light,Male
8906,\x656546de162b91ef4cdc2c7c925be94f6c31f290,2,"[16431, 21807]",Dark,Male

## Data Engineering for Visualization
---

### 1. Sankey Diagram

<img src="imgs/vis1_example.png" alt="drawing" width="500">

Data format

```
{
    "nodes":[
        {"node":0,"name":"Human"},
        {"node":1,"name":"Zombie"},
        {"node":2,"name":"Ape"},
        {"node":3,"name":"Alien"},

        {"node":4,"name":"Female"},
        {"node":5,"name":"Male"},

        {"node":6,"name":"Medium"},
        {"node":7,"name":"Dark"},
        {"node":8,"name":"Light"},
        {"node":9,"name":"Albino"},
        {"node":10,"name":"non-human"},

        {"node":11,"name":"Beanie"},
        ...
        {"node":97,"name":"Stringy Hair"}
    ],

    "links":[
        {"source":<node_id>, "target":<node_id>, "value":<count>},
        ...
    ]
}
```

In [85]:
def get_dataset_vis1(tx_db, punk_db, trader_db):
    dataset_vis1 = dict()

    # nodes dict
    nodes_list = list()
    ## get the list of all types
    type_list = list(punk_db['type'].unique())              # ['Human', 'Zombie', 'Ape', 'Alien']
    
    ## get the list of all genders
    gender_list = list(punk_db['gender'].unique())          # ['Female', 'Male']
    
    ## get the list of all skin_stones
    skin_tone_list = list(punk_db['skin_tone'].unique())    # ['Medium', 'Dark', 'Light', 'Albino', '']
    
    ## get the list of all attributes
    attribute_list = list(punk_db['attributes'])
    attribute_list = '/'.join(attribute_list) 
    attribute_list = attribute_list.split('/')
    attribute_list = [a.strip() for a in attribute_list]
    attribute_list = list(set(attribute_list))
    attribute_list = sorted(attribute_list)
    
    ## set node_id and node_name
    idx = 0
    for name in type_list:
        nodes_list.append({'node': idx, 'name': name})
        idx += 1
    for name in gender_list:
        nodes_list.append({'node': idx, 'name': name})
        idx += 1
    for name in skin_tone_list:
        if name == '':
            name = 'Non-Human'
        nodes_list.append({'node': idx, 'name': name})
        idx += 1
    for name in attribute_list:
        if name == '':
            continue
        nodes_list.append({'node': idx, 'name': name})
        idx += 1
        
    dataset_vis1['nodes'] = nodes_list
    
    return dataset_vis1

In [86]:
punk_df = get_dataset_vis1(tx_db, punk_db, trader_db)
punk_df

{'nodes': [{'node': 0, 'name': 'Human'},
  {'node': 1, 'name': 'Zombie'},
  {'node': 2, 'name': 'Ape'},
  {'node': 3, 'name': 'Alien'},
  {'node': 4, 'name': 'Female'},
  {'node': 5, 'name': 'Male'},
  {'node': 6, 'name': 'Medium'},
  {'node': 7, 'name': 'Dark'},
  {'node': 8, 'name': 'Light'},
  {'node': 9, 'name': 'Albino'},
  {'node': 10, 'name': 'Non-Human'},
  {'node': 11, 'name': '3D Glasses'},
  {'node': 12, 'name': 'Bandana'},
  {'node': 13, 'name': 'Beanie'},
  {'node': 14, 'name': 'Big Beard'},
  {'node': 15, 'name': 'Big Shades'},
  {'node': 16, 'name': 'Black Lipstick'},
  {'node': 17, 'name': 'Blonde Bob'},
  {'node': 18, 'name': 'Blonde Short'},
  {'node': 19, 'name': 'Blue Eye Shadow'},
  {'node': 20, 'name': 'Buck Teeth'},
  {'node': 21, 'name': 'Cap'},
  {'node': 22, 'name': 'Cap Forward'},
  {'node': 23, 'name': 'Chinstrap'},
  {'node': 24, 'name': 'Choker'},
  {'node': 25, 'name': 'Cigarette'},
  {'node': 26, 'name': 'Classic Shades'},
  {'node': 27, 'name': 'Clown Eyes Blue'},
  {'node': 28, 'name': 'Clown Eyes Green'},
  {'node': 29, 'name': 'Clown Hair Green'},
  {'node': 30, 'name': 'Clown Nose'},
  {'node': 31, 'name': 'Cowboy Hat'},
  {'node': 32, 'name': 'Crazy Hair'},
  {'node': 33, 'name': 'Dark Hair'},
  {'node': 34, 'name': 'Do-rag'},
  {'node': 35, 'name': 'Earring'},
  {'node': 36, 'name': 'Eye Mask'},
  {'node': 37, 'name': 'Eye Patch'},
  {'node': 38, 'name': 'Fedora'},
  {'node': 39, 'name': 'Front Beard'},
  {'node': 40, 'name': 'Front Beard Dark'},
  {'node': 41, 'name': 'Frown'},
  {'node': 42, 'name': 'Frumpy Hair'},
  {'node': 43, 'name': 'Goat'},
  {'node': 44, 'name': 'Gold Chain'},
  {'node': 45, 'name': 'Green Eye Shadow'},
  {'node': 46, 'name': 'Half Shaved'},
  {'node': 47, 'name': 'Handlebars'},
  {'node': 48, 'name': 'Headband'},
  {'node': 49, 'name': 'Hoodie'},
  {'node': 50, 'name': 'Horned Rim Glasses'},
  {'node': 51, 'name': 'Hot Lipstick'},
  {'node': 52, 'name': 'Knitted Cap'},
  {'node': 53, 'name': 'Luxurious Beard'},
  {'node': 54, 'name': 'Medical Mask'},
  {'node': 55, 'name': 'Messy Hair'},
  {'node': 56, 'name': 'Mohawk'},
  {'node': 57, 'name': 'Mohawk Dark'},
  {'node': 58, 'name': 'Mohawk Thin'},
  {'node': 59, 'name': 'Mole'},
  {'node': 60, 'name': 'Mustache'},
  {'node': 61, 'name': 'Muttonchops'},
  {'node': 62, 'name': 'Nerd Glasses'},
  {'node': 63, 'name': 'Normal Beard'},
  {'node': 64, 'name': 'Normal Beard Black'},
  {'node': 65, 'name': 'Orange Side'},
  {'node': 66, 'name': 'Peak Spike'},
  {'node': 67, 'name': 'Pigtails'},
  {'node': 68, 'name': 'Pilot Helmet'},
  {'node': 69, 'name': 'Pink With Hat'},
  {'node': 70, 'name': 'Pipe'},
  {'node': 71, 'name': 'Police Cap'},
  {'node': 72, 'name': 'Purple Eye Shadow'},
  {'node': 73, 'name': 'Purple Hair'},
  {'node': 74, 'name': 'Purple Lipstick'},
  {'node': 75, 'name': 'Red Mohawk'},
  {'node': 76, 'name': 'Regular Shades'},
  {'node': 77, 'name': 'Rosy Cheeks'},
  {'node': 78, 'name': 'Shadow Beard'},
  {'node': 79, 'name': 'Shaved Head'},
  {'node': 80, 'name': 'Silver Chain'},
  {'node': 81, 'name': 'Small Shades'},
  {'node': 82, 'name': 'Smile'},
  {'node': 83, 'name': 'Spots'},
  {'node': 84, 'name': 'Straight Hair'},
  {'node': 85, 'name': 'Straight Hair Blonde'},
  {'node': 86, 'name': 'Straight Hair Dark'},
  {'node': 87, 'name': 'Stringy Hair'},
  {'node': 88, 'name': 'Tassle Hat'},
  {'node': 89, 'name': 'Tiara'},
  {'node': 90, 'name': 'Top Hat'},
  {'node': 91, 'name': 'VR'},
  {'node': 92, 'name': 'Vampire Hair'},
  {'node': 93, 'name': 'Vape'},
  {'node': 94, 'name': 'Welding Goggles'},
  {'node': 95, 'name': 'Wild Blonde'},
  {'node': 96, 'name': 'Wild Hair'},
  {'node': 97, 'name': 'Wild White Hair'}]}